body{
    font-family: 'Noto Sans', sans-serif;
}
.button-card{
    color:rgb(39, 189, 176);
    background-color: white;
    padding:0.5rem;
    border-radius: 10px;
    width: 10rem;
    text-align: center;
}
.button-card:hover{
    background-color: rgba(255, 255, 255, 0.767);
    cursor: pointer;
}
.button-link{
    padding: 1rem;
    text-decoration: none;
    color:black;
}
.button-link:hover{
    color:black;
}